body {
    font-family:  Arial, sans-serif;
    color: #ffffff;
}

header {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
}



#new-task-form {
    display: grid;
}

label[for="task-title"]{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    margin-top: 39px;
    margin-bottom: 9px;
}

#task-title, #task-title:focus { 
    width: 338px;
    height: 48px;
    background: #455a64;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
}

label[for="task-details"]{
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    margin-top: 29px;
    margin-bottom: 23px;
}

#task-details, #task-details:focus {
    max-width: 338px;
    min-width: 338px;
    min-height: 72px;
    background: #455a64;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 11px;
    color: #fff;
    padding-left: 20px;
    padding-top: 10px;
}

h3 { 
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 20px;
    margin-top: 23px;
    margin-bottom: 21px;
}

#team-members {
    display: grid;
}

#team-members div input, #team-members div input:focus { 
    width: 150px;
    height: 41px;
    background: #455a64;
    margin-right: 9px;
    border: none;
    cursor: pointer;
    outline: none;
}

#team-members div span {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
}

#team-members div button{
    margin-top: 1px;
    width: 20px;
    height: 20px;
    background: url(/static/img/closesquare.svg) center no-repeat;
    border: none;
    cursor: pointer;
}

#finder{
    display: none;
}

#team-members div {
    width: 150px;
    height: 41px;
    background: #455a64;
    display: flex;
    place-items: center;
    margin-bottom: 5px;
}

#add-btn{
    width: 41px;
    height: 41px;
    background: url(/static/img/addsquare.svg) center no-repeat;
    background-color: #fed36a;
    border: none;
    cursor: pointer;
}

.time-date input, .time-date input:focus {
    width: 176px;
    height: 41px;
    background-color: #455a64;
    border: none;
    border: none;
    cursor: pointer;
    outline: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
}

#u-Task{
    display: grid;
    margin-top: 22px;
}

#u-Task input, #u-Task input:focus{
    margin-top: 12px;
    margin-left: 3px;
    width: 341px;
    height: 30px;
    border: none;
    border: none;
    cursor: pointer;
    outline: none;
    background: #455a64;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    color: #fff;
    padding-left: 10px;
}

.delete_underTask{
    width: 20px;
    height: 20px;
    background: url(/static/img/closesquare.svg) center no-repeat;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    position: relative;
    top: 3px;
}

#add-new { 
    width: 100px;
    height: 60px;
    margin-top: 27px;
    background: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    place-self: center;
    border: none;
    cursor: pointer;
}

.create-btn {
    width: 358px;
    height: 67px;
    margin-top: 42px;
    background-color: #fed36a;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 18px;
    border: none;
    cursor: pointer;
}




