{% extends "project_base.html" %}

{% block body %}
<link rel="stylesheet" href="/static/login.css">


    <div id="logo"></div>
    <h1>Welcome back!</h1>

    <!-- Authentification form -->
    <div>

        <!-- Email part-->
        <label>
        Email address
        <div id="email">
            <div id="foto"></div>
            <input type="text" placeholder="Name:" maxlength="90" name="username" id="username">
        </div>
        </label>

        <!-- Password part -->
        <label>
        Password
        <div id="pass">
            <div id="foto"></div>
            <input id="password" type="password" placeholder="Password:" name="password" minlength="1" maxlength="128" autocomplete="off">
            <button type="button" id="eye" onclick="showpass()"></button>
        </div>
        </label>

        <!-- Login part -->
        <a href="" id="forgot-password">Forgot password?</a> 
        <input type="submit" value="Login" id="login" onclick="login()">
    </div>
    

    
    <div id="cnt">
        <span>Or continue with</span>
    </div>

    <button id="ggle">
        <div id="gf"></div>
        Google
    </button>
    <span id="sign">Dont have an account? <a href="/signup">Sign Up</a></span>
</div>



<script >
    function showpass() {
        const pass = document.getElementById("password")
        if(pass.type === "password") {
            pass.type = "text";
        }
        else {
            pass.type = "password";
        }
    }

    async function login(){
        let username = document.getElementById("username").value
        let password = document.getElementById("password").value

        const formData = new URLSearchParams();
        formData.append("username", username);
        formData.append("password", password);

        let res = await fetch("/token", {
            method: "POST",
            headers: {
                "Content-Type": "application/x-www-form-urlencoded"
            },
            body: formData
            });
        
        
        window.location.href="/home"
        
    
    }
</script>

{% endblock body %}