<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project</title>
    <link href="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/css/tom-select.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tom-select@2.4.3/dist/js/tom-select.complete.min.js"></script>
    <style>
        body {
            background-color: #212832;
        }
        
        #telefon {
            place-self: center;
            place-items: center;
            width: 420px;
            height: 926px;
            border: 3px solid black;
            border-radius: 5px;
            display: flexbox;
            padding-top: 38px;
            padding-bottom: 168px;
        }
    </style>
</head>
<body>
    <div id="telefon">
        {% block body %}
        
        
        {% endblock body %}
    </div>
</body>
</html>