{% extends "project_base.html" %}


{% block body %}
<link rel="stylesheet" href="/static/taskDetails.css">
<header>
    <button>back</button>
    <h1>Task Details</h1>
    <button>rewrite</button>
</header>
<main>
    <h1>{{ taskDetails.title }}</h1>
    <div id="timeandteam">
        <div class="dateTeam">
            <div id="calendar"></div>
            <div class="info">
                <span>Due to</span>
                <span class="text">{{ taskDetails.date }}, {{ taskDetails.time }}</span>
            </div>
        </div>

        <div class="dateTeam">
            <div id="users"></div>
            <div class="info">
                <span>Project team</span>
                <span class="text">peoples</span>
            </div>
        </div>
    </div>

    <div id="description">
        <span class="text">Description</span>
        <span>{{ taskDetails.description }}</span>
    </div>

    <div id="progress">
        <span class="text">Project Progress</span>
        <div id="outter"><span id="precent">30%</span></div>
    </div>

    <span class="text">All Tasks</span>
    <div id="UTbox"></div>

<!-- Task details 
            <span>{{ taskDetails.time }}</span>
            <span>{{ taskDetails.date }}</span>
            <span>{{ taskDetails.created_at }}</span>
            <span>{{ taskDetails.created_by }}</span>
            <span>{{ taskDetails.status }}</span>
            <span>{{ taskDetails.UT }}</span>
-->
</main>

<script>
    let utarr = {{ taskDetails.UT|safe }};
    let Utbox = document.getElementById("UTbox");

    utarr.forEach(item => {
        let box = document.createElement("div")
        box.innerHTML=`
            <span>${item}</span>
            <label><input type="checkbox" class="check"></label>
        `
        box.setAttribute("id", `${item}`)
        box.setAttribute("class", "UT")
        Utbox.appendChild(box);
    });


</script>
    
    
 
{% endblock body %}